body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/pages/jason-leung-UMncYEfO9-U-unsplashM.jpg");
  height: 100%;
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
  background-color:cornsilk;
}



/* rose-gold gradient 1 for potential CTA */
/* background: hsla(8, 79%, 78%, 1);

background: linear-gradient(45deg, hsla(8, 79%, 78%, 1) 18%, hsla(14, 82%, 85%, 1) 39%, hsla(11, 84%, 90%, 1) 47%, hsla(10, 92%, 85%, 1) 60%, hsla(8, 68%, 75%, 1) 80%);

background: -moz-linear-gradient(45deg, hsla(8, 79%, 78%, 1) 18%, hsla(14, 82%, 85%, 1) 39%, hsla(11, 84%, 90%, 1) 47%, hsla(10, 92%, 85%, 1) 60%, hsla(8, 68%, 75%, 1) 80%);

background: -webkit-linear-gradient(45deg, hsla(8, 79%, 78%, 1) 18%, hsla(14, 82%, 85%, 1) 39%, hsla(11, 84%, 90%, 1) 47%, hsla(10, 92%, 85%, 1) 60%, hsla(8, 68%, 75%, 1) 80%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#f3a79b", endColorstr="#f8c8b9", GradientType=1 ); */
